#pessoas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.pessoa {
  position: relative;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.pessoa .acoes {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pessoa .acoes i {
  padding: 5px;
  cursor: pointer;
}

.pessoa h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.pessoa p {
  margin-bottom: 10px;
}

.pessoa li {
  margin-bottom: 5px;
}

.adicionar-pessoa {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.adicionar-pessoa a {
  font-size: 30px;
}

.lista-contatos {
  width: 100%;
}

.lista-contatos th:first-child {
  text-align: left;
}

.lista-contatos td:first-child {
  padding-bottom: 10px;
}

.lista-contatos td {
  padding: 10px;
}

.lista-contatos td.coluna-acoes {
  width: 1%;
  white-space: nowrap;
}
