
#tipos-contato {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.tipo-contato {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

.tipo-contato h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tipo-contato p {
    margin-bottom: 10px;
}

.tipo-contato ul {
    list-style: none;
    margin: 10px 0;
}

.tipo-contato li {
    margin-bottom: 5px;
}

